################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiscountCalculator/.vs/DiscountCalculator/DesignTimeBuild
